<div class="sidebar-container">
  <div class="sidebar-container1">
    <div class="sidebar1">Mon Etab</div>
    <div class="sidebar2">
      <!-- Tableau de bord -->
      <a href="/dashboard" class="side1">
        <i class="material-icons" style="color: black;">dashboard</i>
        <span>Tableau de bord</span>
      </a>
      <!-- Élèves -->
      <a href="/student" class="side1">
        <i class="material-icons" style="color: black;">school</i>
        <span>Élèves</span>
      </a>
      <!-- Professeurs -->
      <a href="/teacher" class="side1">
        <i class="material-icons" style="color: black;">person</i>
        <span>Professeurs</span>
      </a>
      <!-- Utilisateurs -->
      <a href="/user" class="side1">
        <i class="material-icons" style="color: black;">group</i>
        <span>Utilisateurs</span>
      </a>
      <!-- Rapports -->
      <a href="/rapport" class="side1">
        <i class="material-icons" style="color: black;">description</i>
        <span>Rapports</span>
      </a>
    </div>
    <div class="sidebar3">
      <!-- Déconnexion -->
      <a href="/logout" class="side1">
        <i class="material-icons" style="color: black;">logout</i>
        <span>Déconnexion</span>
      </a>
    </div>
  </div>
</div>


